# Profile-specific serial ports.
# These names match sketch.yaml profile names uppercased by pytest-embedded.
TEST_SERIAL_PORT_HOST=socket://localhost
TEST_SERIAL_PORT_ESP32=/dev/ttyUSB0

# pytest options to generate an HTML report
#PYTEST_ADDOPTS="--html=report.html --self-contained-html"
